// font-size vars
$font-size-large-xxxxx = 36px
$font-size-large-xxxx = 30px
$font-size-large-xxx = 24px
$font-size-large-xx = 20px
$font-size-large-x = 18px
$font-size-large = 16px
$font-size-medium = 14px
$font-size-medium-s = 13px
$font-size-small = 12px
$font-size-small-s = 10px

// radius-size
$radius-size-medium = 5px